---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-black flex flex-col items-center justify-center h-svh">
    <canvas tabindex='1' id="myCanvas" class="w-[480px] h-[320px]"></canvas>
  </body>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    canvas {
      background: #120027;
      display: block;
      margin: 0 auto;
    }
  </style>
  <script>
    const canvas = document.getElementById("myCanvas") as HTMLCanvasElement; //not sure what it means but if i dont do this, it doesnt allow to get context
    const canvasContext = canvas.getContext("2d");
    let x = canvas.width / 2;
    let y = canvas.height - 30;
    let dx = 2;
    let dy = -2;
    let x_bar = 100.500;
    let y_bar = 130;
    const ballRadius = 10;
    function move_Bar() {
      canvas.addEventListener("keydown", (e) => {
        if(e.key == "ArrowRight"){
          x_bar = x_bar+0.009
        }else{
          x_bar = x_bar-0.009
        }
          
      });
    }
    function draw_Ball() {
      canvasContext.clearRect(0, 0, canvas.width, canvas.height);
      canvasContext.beginPath();
      canvasContext.arc(x, y, ballRadius, 0, Math.PI * 2);
      canvasContext.fillStyle = "yellow";
      canvasContext.fill();
      canvasContext.closePath();
    }
    function draw_Bar() {
      canvasContext.beginPath();
      canvasContext.rect(x_bar, y_bar, 75, 10);
      canvasContext.fillStyle = "red";
      canvasContext.fill();
      canvasContext.closePath();
    }
    // ;
    function draw() {
      draw_Ball();
      draw_Bar();
      move_Bar()
      console.log(x, y);
      x += dx;
      y += dy;
      if (y + dy > canvas.height - ballRadius || y + dy < ballRadius) {
        dy = -dy;
      }
      if (x + dy > canvas.width - ballRadius || x + dx < ballRadius) {
        dx = -dx;
      }
      if (x + dx === x_bar +85 || y + dy === 85) {
        dy = -dy;
      }
      console.log(x, y);
    }
    function startGame() {
      const interval = setInterval(draw, 25);
    }
    startGame();
  </script>
</html>
